<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CADisableMinimumFrameDurationOnPhone</key>
	<true/>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
    <key>Privacy - Camera Usage Description</key>
    <string>This app uses camera for capturing photos.</string>
    <key>NSAppTransportSecurity</key>
    <dict>

        <!-- ─── IP locales — HTTP autorisé ─── -->
        <key>NSExceptionDomains</key>
        <dict>

            <!-- 192.168.2.3 -->
            <key>192.168.2.3</key>
            <dict>
                <key>NSExceptionAllowsInsecureHTTPLoads</key>
                <true/>
                <key>NSIncludesSubdomains</key>
                <false/>
            </dict>

            <!-- 192.168.20.56 -->
            <key>192.168.20.56</key>
            <dict>
                <key>NSExceptionAllowsInsecureHTTPLoads</key>
                <true/>
                <key>NSIncludesSubdomains</key>
                <false/>
            </dict>

            <!-- 192.168.43.172 -->
            <key>192.168.43.172</key>
            <dict>
                <key>NSExceptionAllowsInsecureHTTPLoads</key>
                <true/>
                <key>NSIncludesSubdomains</key>
                <false/>
            </dict>

            <!-- 20.0.79.231 -->
            <key>20.0.79.231</key>
            <dict>
                <key>NSExceptionAllowsInsecureHTTPLoads</key>
                <true/>
                <key>NSIncludesSubdomains</key>
                <false/>
            </dict>

            <!-- 8fx.pfs.aie.cm — HTTPS avec sous-domaines -->
            <key>8fx.pfs.aie.cm</key>
            <dict>
                <key>NSExceptionAllowsInsecureHTTPLoads</key>
                <false/>
                <key>NSIncludesSubdomains</key>
                <true/>
            </dict>

        </dict>
    </dict>
</dict>

</plist>
